<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <center>
            <h1>
            ID: {{ profile.profile_id}}
            </h1>
            <h1>
            NAME:{{ profile.profile_pic}}
            </h1>
            <h1>
            MODELNO: {{profile.profile_description}}
            </h1>     
      <hr>
        <a href="/">home</a>
        <hr>
    </center>
</body>
</html>